{% extends 'base.html' %} 
{% block title %}Set password{% endblock title %} 
{% block content %}

<div class="card bg-light p-5">

  {% for message in messages %}

  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <h3 class="text-dark">Set New Password</h3>
 
<form action="{% url 'auth:set-new-password' uidb64 token %}" method="post">{% csrf_token %}
    <br>
    
    <label for="pass1">Password</label>
    <div class="form-group">
    <input type="password" class="form-control" id="pass1" name="pass1" required>
    </div>
    <label for="pass2">Confirm Password</label>
    <div class="form-group">
    <input type="password" class="form-control" id="pass2" name="pass2" required>
    </div>
    <br>
    <br>
    <button id="submit-btn" type="submit" class="btn btn-success">Submit</button>
    <button style="display:none;" class="btn btn-success" type="button" disabled>
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      Submitting...
      </button>
    <hr>
     <a href="/auth/login/">Go back?</a>
    <br>
    
    <br>
    
    </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      let submitBtn = document.getElementById("submit-btn");
      submitBtn.addEventListener("click", function () {
        submitBtn.style.display = "none";
        submitBtn.nextElementSibling.style.display = "inline-block";
      });
    });
  </script>
{% endblock content %}
